doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title RamShyamTraders
        style
            include ../static/servicestyle.css
        
    body
        nav#nav
            img(src="/static/logo.jpg", alt="RamShyamTraders")
            details 
                ul
                    li #[a(href='/') Home]
                    li #[a(href='/about') About]
                    li #[a(href='/shop') Shop Now]
                    li #[a(href='/service') Service]
                summary Menu
            div.image
                a(href='/cart')
                    img(src="/static/cart.png", alt="Cart",class="cart")
                a(href='/help')
                    img(src="/static/help.jpg", alt="Help",class="help")
        nav#navbar
            img(src="/static/logo.jpg", alt="RamShyamTraders")
            ul
                li #[a(href='/') Home]
                li #[a(href='/about') About]
                li #[a(href='/shop') Shop Now]
                li #[a(href='/service') Service]
            a(href='/cart')
                img(src="/static/cart.png", alt="Cart",class="cart")
            a(href='/help')
                img(src="/static/help.jpg", alt="Help",class="help")
        div.tag
            h1 Our Services
            h3 We provide the best services for you to serve you best
        div.container
            div.part1
                img(src="/static/delivery.jpg", alt="Loading...")
                div.detail
                    h2 Fastest Delivery
                    p We provide you our best delivery services with the best delivery partners E-kart. Our aim to deliver the product within 2-3 days without any delay
            div.part2
                div.detail
                    h2 Cash On Delivery
                    p We provide you multiple payment method for you which are most recommend by customer in the market. Such payment methods are Debit/Credit Card, Wallet, Paytm/PhonePe/GooglePay, Cash On delivery
                img(src="/static/COD.jpg", alt="Loading...")
            div.part3
                img(src="/static/returns-refunds.png", alt="Loadding...")
                div.detail
                    h2 Return & Refund
                    p We have mentioned about refunds and return policies of each product with that product. In the case of return policies you will have to return the prduct within 3 days after the product deliverd. In the case of refund policies you will have to refund the prduct within 7 days after the product deliverd.
        div.container1
            div.part1
                img(src="/static/delivery.jpg", alt="Loading...")
                div.detail
                    h2 Fastest Delivery
                    p We provide you our best delivery services with the best delivery partners E-kart. Our aim to deliver the product within 2-3 days without any delay
            div.part2
                img(src="/static/COD.jpg", alt="Loading...")
                div.detail
                    h2 Cash On Delivery
                    p We provide you multiple payment method for you which are most recommend by customer in the market. Such payment methods are Debit/Credit Card, Wallet, Paytm/PhonePe/GooglePay, Cash On delivery
            div.part3
                img(src="/static/returns-refunds.png", alt="Loadding...")
                div.detail
                    h2 Return & Refund
                    p We have mentioned about refunds and return policies of each product with that product. In the case of return policies you will have to return the prduct within 3 days after the product deliverd. In the case of refund policies you will have to refund the prduct within 7 days after the product deliverd.