doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title RamShyamTraders
        style
            include ../static/shopstyle.css
        
    body
        nav#nav
            img(src="/static/logo.jpg", alt="RamShyamTraders")
            details 
                ul
                    li #[a(href='/') Home]
                    li #[a(href='/about') About]
                    li #[a(href='/shop') Shop Now]
                    li #[a(href='/service') Service]
                summary Menu
            div.image
                a(href='/cart')
                    img(src="/static/cart.png", alt="Cart",class="cart")
                a(href='/help')
                    img(src="/static/help.jpg", alt="Help",class="help")
        nav#navbar
            img(src="/static/logo.jpg", alt="RamShyamTraders")
            ul
                li #[a(href='/') Home]
                li #[a(href='/about') About]
                li #[a(href='/shop') Shop Now]
                li #[a(href='/service') Service]
            a(href='/cart')
                img(src="/static/cart.png", alt="Cart",class="cart")
            a(href='/help')
                img(src="/static/help.jpg", alt="Help",class="help")
        div.container
            h3 RamShyamTraders
            section#search
                    input(type="text" name='search' placeholder='Search for any product')
                    img(src="/static/search.png", alt="search")
            section#account
                img(src="/static/account.jpg", alt="my account")
                p Hi! Shrinath
        div#mobile
            
            section#search
                    input(type="text" name='search' placeholder='Search for any product')
                    img(src="/static/search.png", alt="search")
            section#account
                img(src="/static/account.jpg", alt="my account")
                //- p Hi! Shrinath
        div.box
            div.item
                img(src="/static/dress1.jpg", alt="loading...")
                div.detail
                    div.part
                        h3 Princess fork
                        p S/M/L size
                    div.price
                        h2 539Rs/-
                        p Add to cart
            
            div.item
                img(src="/static/dress2.jpg", alt="loading...")
                div.detail
                    div.part
                        h3 Princess fork
                        p S/M/L size
                    div.price
                        h2 539Rs/-
                        p Add to cart
            
            div.item
                img(src="/static/dress3.jpg", alt="loading...")
                div.detail
                    div.part
                        h3 Princess fork
                        p S/M/L size
                    div.price
                        h2 539Rs/-
                        p Add to cart
            div.item
                img(src="/static/dress3.jpg", alt="loading...")
                div.detail
                    div.part
                        h3 Princess fork
                        p S/M/L size
                    div.price
                        h2 539Rs/-
                        p Add to cart
            div.item
                img(src="/static/dress3.jpg", alt="loading...")
                div.detail
                    div.part
                        h3 Princess fork
                        p S/M/L size
                    div.price
                        h2 539Rs/-
                        p Add to cart
            div.item
                img(src="/static/dress3.jpg", alt="loading...")
                div.detail
                    div.part
                        h3 Princess fork
                        p S/M/L size
                    div.price
                        h2 539Rs/-
                        p Add to cart
            div.item
                img(src="/static/dress3.jpg", alt="loading...")
                div.detail
                    div.part
                        h3 Princess fork
                        p S/M/L size
                    div.price
                        h2 539Rs/-
                        p Add to cart
            div.item
                img(src="/static/dress3.jpg", alt="loading...")
                div.detail
                    div.part
                        h3 Princess fork
                        p S/M/L size
                    div.price
                        h2 539Rs/-
                        p Add to cart
        footer#footer
            h3 Copyright &copy RamShyamTraders.com|All right revesered.
        script
            include ../static/index.js   