@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lobster&family=Oxygen:wght@300&display=swap');
*{
    /* background-color: rgb(247, 197, 197); */
    padding: 0px;
    margin: 0px;
    
}
@media (max-width:500px) {
    #navbar{
        display: none;
    }
    #nav{
        display: flex;
        background-color: #b42727;
        justify-content: space-between;
    }
    #nav img{
        height: 33px;
        width: 49px;
        /* padding-top: 2px; */
    }
    #nav details{
        padding-left: 25px;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        border: 2px solid black;
    }
    ul li{
        padding: 2px;
    }
    
    li{
        padding: 10px 0px;
        list-style: none;
    }
    li a{
        color: white;
        /* font-size: 12px; */
        text-decoration: none;
    }
    .image{
        display: flex;
        /* padding: 2px; */
    }
    .cart{
        
        cursor:pointer;
        /* padding-left: 90px; */
    }
    .help{
        
        cursor:pointer;
    }
    .tag{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(166, 110, 6)
    }
    .tag h1{
        font-size: 30px;
        text-decoration: underline;
        font-family: 'Lobster', cursive;
        padding: 25px;
    }
    .tag h3{
        font-size: 20px;
        font-family: 'Baloo Bhai 2', cursive;
    }
    .container{
        display: none;
    }
    .container1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(24, 170, 170);
    }
    .container1 img{
        width: 300px;
        height: 250px;
        padding: 25px 45px;
    }
    .part1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .part2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .container1 h3{
        text-align: center;
        font-family: 'Baloo Bhai 2', cursive;
        border: 2px solid black;
        margin: 5px;
        background-color: rgb(228, 222, 222);
    }
}
@media (min-width:501px){
    #nav{
        display: none;
    }
    #navbar{
        display: flex;
        justify-content: center;
        background-color: #b42727;
        border: 3px solid black;
    }
    ul{
        display: flex;
        width: 100%;
        
        
        
    }
    #navbar img{
        height: 33px;
        width: 49px;
        margin: 12px 12px;
    }
    .cart{
        margin-left:780px;
        cursor:pointer;
    }
    .help{
        cursor:pointer;
    }
    
    li{
        font-family: 'Baloo Bhai 2', cursive;
        list-style: none;
        padding: 15px 34px;
    }
    li a{
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    #navbar a:hover{
        color: black;
    }
    .search{
        height: 100px;
        padding: 0px 120px;
        text-align: center;
    }
    .tag{
        text-align: center;
        background-color: rgb(166, 110, 6);
    }
    .tag h1{
        padding: 25px;
        font-size: 50px;
        text-decoration: underline;
        font-family: 'Lobster', cursive;
    }
    .tag h3{
        font-size: 40px;
        font-family: 'Baloo Bhai 2', cursive;
    }
    .container{
        background-color: rgb(24, 170, 170);
        display: flex;
        flex-direction: column;
    }
    .container1{
        display: none;
    }
    .container img{
        width: 450px;
        height: 400px;
    }
    .part1{
        display: flex;
        margin: 60px 60px;
        padding: 20px;
        /* justify-content: space-between; */
    }
    .part1 h3{
        font-family: 'Baloo Bhai 2', cursive;
        font-size: 30px;
        margin-left: 40px;
        padding: 20px;
        width: 400px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: rgb(228, 222, 222);
    }
    .part2{
        
        padding: 20px;
        display: flex;
        justify-content: right;
        margin: 60px 60px;
        padding: 20px;
        
    }
    .part2 h3{
        font-family: 'Baloo Bhai 2', cursive;
        font-size: 30px;
        margin-right: 40px;
        padding: 20px;
        width: 400px;
        border: 2px solid black;
        background-color: rgb(228, 222, 222);
        border-radius: 10px;
    }
}